<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:head>
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="headUserPageStyle.css" type="text/css" media="screen">
</wicket:head>
<body>
	<section>
		<header>
			<ul>
				<li><a wicket:id="mainUserPage">Home</a></li>
				<li><a heref="#">Profile</a></li>
				<li><a wicket:id="exit">Sign out</a></li>
			</ul>
		</header>
	</section>
		
		<!-- </div> -->
	<div class="meio">

		<!-- CONTEUDO -->
		<div class="col-12">

			<wicket:child />

		</div>
	</div>

	<!-- RODAPE -->
	<div class="rodape" style="bachground-color: #f4f4f4;">
		<p>Developing FFHYou &#174; Rights reserved</p>
	</div>
		
</body>

</html>