<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:head>
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<link
		href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		rel="stylesheet" id="bootstrap-css">
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	
<link rel="stylesheet" href="mainUserPageStyle.css" type="text/css" media="screen">
</wicket:head>
<body>
	<section>
		<header>
			<ul>
				<li><a wicket:id="mainUserPage">Home</a></li>
				<li><a wicket:id="profilePage">Profile</a></li>
				<li><a wicket:id="exit">Sign out</a></li>
			</ul>
		</header>
		<form wicket:id="form2">
		<div class="main">
			<img src="logoSmall.PNG">
			<div class="searchBox">
				<input type="text" class="search" wicket:id="name">
				<div class="icons">
					<div><img src="search.png"></div>
				</div>
			</div>
		<div class="buttons">
			<button wicket:id="filtrar">FFHYou Search</button>
		</div>
		</div>
		</form>
	</section>
	<div class="container">
		<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Country</th>
						<th scope="col">Institution</th>
						<th scope="col">Email</th>
						
					</tr>
				</thead>
				<tbody wicket:id="theContainer">
					<tr wicket:id="listView">
						<td class="text" wicket:id="name"></td>
						<td class="text" wicket:id="country"></td>
						<td class="text" wicket:id="institution"></td>
						<td class="text" wicket:id="email"></td>
						
					</tr>
				</tbody>
				<div wicket:id="pag"></div>
			
			</table>
		</div>
		<br />
			<!-- RODAPE -->
	<div class="rodape" style="text-align: center; bachground-color: #f4f4f4;">
		<p>Developing FFHYou &#174; Rights reserved</p>
	</div>
		
</body>

</html>